<h3>Home Page</h3>

<div class="container">
    <div id="slides">
      <%= image_tag "example-slide-1.jpg" %>
      <%= image_tag "example-slide-2.jpg" %>
      <%= image_tag "example-slide-3.jpg" %>
      <%= image_tag "example-slide-4.jpg" %>
      
      <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
      <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
    </div>
  </div>

